################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpdrachtScenius/.vs/OpdrachtScenius
/OpdrachtScenius/OpdrachtScenius/bin
/OpdrachtScenius/OpdrachtScenius/obj
